
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello, I am Mr. Fox </h1>
		<p>Welcome to the test blog!</p>
		<p>Just try some functions</p>
		
	</div>
</div>